<div class="clearfix">
  <div class="hint-text">Showing <b>{{ getMin() }} - {{ getMax() }} of {{ count }}</b> entries. Page <b>{{page}} of {{ totalPages() }}</b></div>
    <ul class="pagination">
        <li class="page-item" *ngIf="page==1 || loading" [attr.disabled]="page === 1 || loading" [ngClass]="{ 'disabled': page === 1 || loading }"><a class="page-link">Previous</a></li>
       <li class="page-item" *ngIf="page!=1" (click)="onPrev()" [attr.disabled]=" loading" [ngClass]="{ 'disabled':loading }"><a class="page-link">Previous</a></li>
       <li class="page-item" style=" color: #666;" *ngFor="let pageNum of getPages()"
       (click)="onPage(pageNum)"
       [ngClass]="{'active': pageNum === page, 'disabled': loading}">
         <a class="page-link">{{ pageNum }}</a>
        </li>
        <li class="page-item" *ngIf="lastPage()"  [attr.disabled]="lastPage() || loading" [ngClass]="{ 'disabled': lastPage() || loading }"><a class="page-link">Next</a></li>
       <li class="page-item"  *ngIf="!lastPage()"  (click)="onNext(true)" [attr.disabled]="loading" [ngClass]="{ 'disabled': loading }"><a class="page-link">Next</a></li>
    </ul>
 </div>