<div class="content">

  <div class="row">
      <div class="col-md-12 ">
    <section class="panel panel-default" style="color:#747c83">
      <div class="panel-body">
        <article class="panel-body">
          <figure class="text-center">
            <img src="/src/assets/img/im.jpg" class="img-thumbnail img-circle img-responsive" alt="me">
            <figcaption>
              <h3>Ahmad Iswandi</h3> 
              I'm Highly motivated person, fast learning and fast adapting. I love challenge.
              <br>
              I'm Hard worker, i always try to more productive day to day to improve my skills in Software Engineering. I believe there is no a difficult problem to be solved, as long as we have patience, focused and have willingness. 
            </figcaption>
          </figure>
        </article>
        <br>
        <article>
          <h4>
                              <strong>Personal Details</strong>
                          </h4>
          <hr>
          <dl class="dl-horizontal">
      
            <dt>Age:</dt>
            <dd>23</dd>
            <dt>Marital Status:</dt>
            <dd>Single</dd>

            <dt>Interests:</dt>
            <dd>HTML5, CSS3, php, C#, Asp.Net, angular.js,  Node.js, RestfullApi, Docker.</dd>
          </dl>
        </article>

        <article>
          <h4>
                              <strong>Work Experiences</strong>
                          </h4>
          <hr>
          <dl class="dl-horizontal">
            <dt>2018</dt>
            <dt>Web App Developer at PT Adicipta Inovasi Teknologi.</dt>
            <dd>Working with great people is awesome, i've got many knowledges in order to make good web application in this company.  
            I'm using .Net framework and others microsoft technology. It is amazing, I've got what it takes to be an application developer</dd>
            <dt>2017</dt>
            <dt>Volunteer at Informatics Islamic University of Indonesia.</dt>
            <dd>I worked to assist my lecture in IT sharing in Karang Taruna desa Umbulmartani, Ngemplak, Sleman, Yogyakarta.</dd>
            <dt>2016</dt>
            <dt>Web App developer at PT. Djavis Indonesia</dt>
            <dt>2015</dt>
            <dt>Freelance Proggrammer at Inccommedia</dt>
          </dl>
          <hr>
        </article>
        <article>
          <h4>
                              <strong>Education</strong>
                          </h4>
          <hr>
          <dl class="dl-horizontal">
            <dt>2013-2018</dt>
            <dd>Bachelor Degree of Engineering (Computer Engineering) | Islamic University Of Indonesia</dd>
          </dl>
          <dl class="dl-horizontal">
              <dt>2010-2013</dt>
              <dd>Software Engineering | Hasanah Vocational High School</dd>
            </dl>
        </article>
        <article>
          <h4>
                              <strong>Skills</strong>
                          </h4>
          <hr>
          <dl class="dl-horizontal">
            <dt>Languages:</dt>
            <dd>PHP, Typescript, C#, Java, Javascript,Node.js</dd>
            <dt>Framework:</dt>
            <dd>Angular, Express.js, Codeigniter, Slim, Express.js, Asp.net </dd>
          </dl>
        </article>



      </div>
    </section>
    </div>
  </div>


</div>
