
  <div class="content">

    <h1>Recent Work </h1>

    <div class="row">
      <div class="col-md-6 ">
        <div class="split-image">
          <img class="img-responsive wow fadeIn"   src="/src/assets/img/portofolio3.png" alt="Image" style="visibility: visible; animation-name: fadeIn; width:100%; height:auto">
        </div>
      </div>

        <div class="col-md-6 ">
          <div class="split-content" style="color:#747c83">
            <h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Data Management Of Chat App</h2>
            <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
              This project is especially designed to meet the needs of my client to manage data inside database. there are many features that include in this system
            </p>
            <ul >
              <li>Add sticker collection</li>
              <li>Block and unblock user</li>
              <li>Manage Negative report of post,chat, and timelin</li>
              <li>Others</li>
            </ul>
            <strong>Technologies: </strong> Backend (PHP (Slim Framework)), FrontEnd (Angular,css, html).
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6 ">
        <div class="split-image">
          <img class="img-responsive wow fadeIn"   src="/src/assets/img/portofolio1.png" alt="Image" style="visibility: visible; animation-name: fadeIn; width:100%; height:auto">
        </div>
      </div>

        <div class="col-md-6 ">
          <div class="split-content" style="color:#747c83">
            <h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">COZ BOT</h2>
            <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
              This project is realtime, awesome and stunning. Work with several web technologies to make integerate system between chatbot and order management system. This project also bring me to get my degree in information technology
              . what's inside?
            </p>
            <ul class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
              <li>Chatbot aim to communicate with customer (Customer can make order, ask about the order)</li>
              <li>Order management System aim to manage order from customer. this system can receive order manually or order that comes from chatbot
                . this will give realtime notification when customer makes order from chatbot.
              </li>
              <li>Others</li>
            </ul>
            <strong>Technologies: </strong> Backend (PHP,NodeJs), FrontEnd (Angular,css, html), Others (Socket.io, facebook API, NLP Platform).
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-6 ">
        <div class="split-image">
          <img class="img-responsive wow fadeIn"   src="/src/assets/img/portofolio.png" alt="Image" style="visibility: visible; animation-name: fadeIn; width:100%; height:auto">
        </div>
      </div>

        <div class="col-md-6 ">
          <div class="split-content" style="color:#747c83">
            <h2 class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">Laboratorium system of DSKE UII</h2>
            <p class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
              This project is especially designed to meet the need of my client.
              what's inside?
            </p>
            <ul class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
              <li>Registration procces</li>
              <li>Reporting </li>
              <li>Presence</li>
              <li>Uploading task</li>
              <li>Others</li>
            </ul>

            <strong>Technologies: </strong> Backend (PHP (Codeigniter Framework)), FrontEnd (Angular,css, html).
          </div>
        </div>
    </div>

    
  </div>
  <!-- Main Content -->
