	<!-- Banner -->	
  <div class="header-overlay">
    <div class="overlay morp"></div>
  </div>

  <section id="header-content">

    <div class="content">
  

      <div class="d-flex justify-content-center h-100">
          
            
            <div class="image_inner_container">
              <img src="/src/assets/img/im.jpg">
            </div>
          
      </div>
      <h1>Ahmad Iswandi </h1>	
      <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://instagram.com"><i id="social-tw" class="fa fa-instagram fa-3x social"></i></a>
            <a href="https://github.com/iswandiahmad57"><i id="social-gp" class="fa fa-github fa-3x social"></i></a>
            <a href="mailto:ahmad.iswamdi1703@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      <h2 class="text-intro opacity-0">Hallo, I'm Web App Developer</h2>

      <p class="text-intro opacity-0">
        It's amazing to work with your passion, doing something you like <i style="" class="fa fa-smile-o"></i>.
        
        Hai, I'm Ahmad, i'm web app developer . I have many experiences in developing web application.
        I Always learn something that will improve my skills in web development. I use technology such as php, nodejs, c#, asp.net, angular and others to make cutting edge web application. Okey Let's see what i recently have done  
      </p>

      <header class="header-menu">
          <div class="top-menu">
              <ul>

                <li class="">
                  <a (click)="menu('resume')">
                    <span class="fa fa-list"></span>
                    <span class="link">Resume</span>
                  </a>
                </li>
                <li class="">
                  <a (click)="menu('work')">
                    <span class="fa fa-tasks"></span>
                    <span class="link">Works</span>
                  </a>
                </li>
                <!-- <li class="">
                  <a>
                    <span class="fa fa-tasks"></span>
                    <span class="link">Fun Projects</span>
                  </a>
                </li>

                <li class="">
                  <a>
                    <span class="fa fa-comments"></span>
                    <span class="link">Blog</span>
                  </a>
                </li> -->
              </ul>
            </div>
      </header>

      <!-- <a href="#" id="open-more-info" data-target="main-content" class="text-intro opacity-0 btn btn-primary ">READ MORE &rarr;</a> -->
    



    </div>


  </section>
  <!-- Banner -->	


  <!-- Main Content -->
  <section id="main-content" class="main-hide">
    <app-work-job *ngIf="workMenu"></app-work-job>
    <app-resume-work *ngIf="resumeMenu"></app-resume-work>



  </section>



 

